@mixin shadow($opa)
  -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,$opa), 0 3px 4px 0 rgba(0,0,0,$opa), 0 3px 3px -2px rgba(0,0,0,$opa)
  -moz-box-shadow: 0 1px 8px 0 rgba(0,0,0,$opa), 0 3px 4px 0 rgba(0,0,0,$opa), 0 3px 3px -2px rgba(0,0,0,$opa)
  box-shadow: 0 1px 8px 0 rgba(0,0,0,$opa), 0 3px 4px 0 rgba(0,0,0,$opa), 0 3px 3px -2px rgba(0,0,0,$opa)

@mixin bottom-shadow($opa)
  -webkit-box-shadow: 0 1px 0px 0 rgba(0,0,0,$opa)
  -moz-box-shadow: 0 1px 0px 0 rgba(0,0,0,$opa)
  box-shadow: 0 1px 0 rgba(0,0,0,$opa)

@mixin active-shadow($opa)
  -webkit-box-shadow: 0 1px 0px 0 rgba(0,0,0,$opa)
  -moz-box-shadow: 0 1px 0px 0 rgba(0,0,0,$opa)
  box-shadow: 0 1px 0 rgba(255,255,255,$opa)

@mixin nav-shadow
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px

@mixin card-box-shadow
  $box-shadow-opacity: 0.4
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, $box-shadow-opacity)
  -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, $box-shadow-opacity)
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, $box-shadow-opacity)

@mixin button-action($color)
  &:hover
    background-color: lighten($color,10)
    cursor: pointer
  &:active
    background-color: darken($color,10)

@mixin button($width, $height)
  width: $width
  height: $height
  border: solid .5px $sub-color
  text-align: center
  line-height: $height
  border-radius: 3px
  color: $sub-color
  &:hover
    background-color: $sub-color
    color: #fff
    cursor: pointer

@mixin hover-name-action($color)
  &:hover
    color: lighten($color, 10)
    cursor: pointer
  &:active
    color: darken($color, 10)

@mixin bold()
  font-weight: bold
